<%= image_tag @entry.image.url (:medium) %>

<p>
  <strong>Description:</strong>
  <%= @entry.description %>
</p>

<%if @entry.user == current_user %>
	<%= link_to 'Edit', edit_entry_path(@entry) %> |
<% end %>
<%= link_to 'Back', entries_path %>
